body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  background: white;
  position: relative;
  display: inline-block;
  width: 100%;
}

.header .headerTxt{
  color: black;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%; 
  text-align: center;
  width: 100%; 
  text-shadow: 1px 1px 1px lightskyblue,
              2px 2px 1px lightskyblue;
  font-size: 200%;
  letter-spacing: 4px;

}

.header .gif{
  width: 100%;
  height: 35%;
}


.leftcolumn {
  float: left;
  width: 71%;
}

.rightcolumn {
  float: left;
  width: 27%;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card button{
  border-radius: 6px;
  background-color: #ddd;
  color: black;
  margin-right: 20px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.commentSection{
  background-color: #ddd;
  padding: 1px;
  padding-left: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.searchAndSort{
  border-radius: 6px;
  margin-right: 20px;
  font-size: 24px;
}

#login{
  margin-top: 30px;
  margin-bottom: 70px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#bloggImg{
  height: 200px;
  max-width: 50%;
}

#aboutImg{
  height: 100px;
}

#menu{
  width: 100%; 
  text-shadow: 1px 1px 1px lightskyblue,
              2px 2px 1px lightskyblue;
  font-size: 200%;
  font-weight: bolder;
  letter-spacing: 4px;
  font-style:italic;
  
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}