{% extends 'base.html' %}

{% block content %}
<div class="row">

  <div class="leftcolumn">
    <div class="card">
      <h2>PLACEHOLDER TITLE</h2>
      <h5>Apr 19, 2021</h5>
      <img src="../static/python_code.jpg" alt="PythonImg" height="200px">
      <p>PLACEHOLDER BLOG TEXT</p>
      <div class="commentSection">
        <h3>Comments:</h3>
        <p>User1: Great post!</p>
      </div>
    </div>

    <div class="card">
      <h2>PLACEHOLDER TITLE</h2>
      <h5>Apr 19, 2021</h5>
      <img src="../static/python_code.jpg" alt="PythonImg" height="200px">
      <p>PLACEHOLDER BLOG TEXT</p>
      <div class="commentSection">
        <h3>Comments:</h3>
        <p>User1: Great post!</p>
      </div>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">
      <button id="btn1">Log in</button>
      <button id="btn2">Register</button>
    </div>

    <div class="card">
      <div id="searchAndSort">
        <input type="text" placeholder="Search">
        <select name="sort" id="sort">
          <option selected disabled>Sort by</option>
          <option value="Comments">Most commented</option>
          <option value="recent">Most recent</option>
        </select>
      </div>
    </div>

    <div class="card">
      <h2>About Me</h2>
      <img src="../static/bloggBilde.jpg" alt="ProgrammingGirl" height="100px">
      <p>My name is Synne and I am a 21 years old Computer Science student. In my sparetime I enjoy coding, especially in Python. In this blog I am going to to share my journey in becomming a better programmer.</p>
    </div>
  </div>

</div>

{% endblock %}
