<script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>
<script src="https://unpkg.com/vue-router@4"></script>
<script src="../routes.js"></script>
<link rel="stylesheet" href="../static/style.css">
<div id="app">
  <div class="header">
    <img class="gif" src="../static/ON2a.gif" alt="gif">
    <div class="headerTxt">
        <h2>The Python Programming Blog</h2>
    </div>
</div>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <div id="login">
            <h1>Log in</h1>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br><br>
            <button>Enter</button>
        </div>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">
        <h2>About Me</h2>
        <img src="../static/bloggBilde.jpg" alt="ProgrammingGirl" height="100px">
        <p>My name is Synne and I am a 21 years old Computer Science student. In my sparetime I enjoy coding, especially in Python. In this blog I am going to to share my journey in becomming a better programmer.</p>
    </div>
  </div>
</div>
<footer>
  <div class="footer">
      <h2>Business Email: thePythonBlog@gmail.com</h2>
  </div>
</footer>