{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <div id="post">
            <h1>Post</h1>
            <input type="text" name="title" placeholder="Title"><br><br>
            <textarea id="textfield" name="textfield" rows="10" cols="100"></textarea>
        </div>
        <button>Browse..</button>
        <button>Submit</button>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">
        <h2>About Me</h2>
        <img src="../static/bloggBilde.jpg" alt="ProgrammingGirl" height="100px">
        <p>My name is Synne and I am a 21 years old Computer Science student. In my sparetime I enjoy coding, especially in Python. In this blog I am going to to share my journey in becomming a better programmer.</p>
    </div>
  </div>
</div>


{% endblock %}