{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <div id="register">
            <h1>Register</h1>
            <label for="email">Enter your email:</label>
            <input type="text" id="email" name="email" placeholder="email"><br><br>
            <label for="username">Enter a username:</label>
            <input type="text" id="username" name="username" placeholder="username"><br><br>
            <label for="password">Enter a password:</label>
            <input type="text" id="password" name="password"><br><br>
            <button>Enter</button>
        </div>
    </div>

    <div class="card">
        <h4>Do Not Share Your Password!</h4>
        <p>Passwords are a major defense against hackers, and developing good password practices will help keep your sensitive personal information and identity more secure.</p>
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card">
        <h2>About Me</h2>
        <img src="../static/bloggBilde.jpg" alt="ProgrammingGirl" height="100px">
        <p>My name is Synne and I am a 21 years old Computer Science student. In my sparetime I enjoy coding, especially in Python. In this blog I am going to to share my journey in becomming a better programmer.</p>
    </div>
  </div>
</div>


{% endblock %}
